@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://unpkg.com/open-props");
@import url("https://unpkg.com/open-props/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




body {
    font-family: 'Poppins' sans-serif;
    width: 100%;
    height: 100vh;
    background: #121213;
    display: grid;
    place-items: center;
}


header{
    width: 85%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
}

header .left_pane, .right_pane{
    width: 25%;
    height: 88%;
}


header .right_pane{
    width: 75%;
    background: #DADDB1;
}

header .left_pane{
    background: #B3A492;
}

header .music_play{
    width: 100%;
    height: 12%;
    background: #F6F1EE;
}

header .right_pane nav{
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .right_pane nav ul{
    display: flex;
    padding-left: 0px;
    padding-top: 15px;
}

header .right_pane nav ul a{
    text-decoration: none;
    list-style: none;
    position: relative;
    font-size: 19px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s linear;
}

header .right_pane nav ul a:hover{
    color: #fff;
}


header .right_pane nav ul a:nth-child(1){
    color: #fff;
}

header .right_pane nav .search{
    position: relative;
    width: 300px;
    padding: 6px 10px;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
}

header .right_pane nav .search input{
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: black;    
}

header .right_pane .song_carousels{
    width:auto; 
    overflow-y:scroll; 
    position:relative;
    height: 550px;
}

header .right_pane .song_carousels::-webkit-scrollbar{
    width: 14px;
}

header .right_pane .song_carousels::-webkit-scrollbar-track{
    background: #DADDB1;
}

header .right_pane .song_carousels::-webkit-scrollbar-thumb{
    background-color: var(--surface-2);
    border-radius: 20px;
    border: 2px solid #DADDB1;
}


header .right_pane .song_carousels .recommended{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
}


header .right_pane .song_carousels .recommended .media_scroller{
    width: 100%;
    height: 270px;
    margin-top: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    gap: var(--size-3);
    overflow-x: auto;
    background: #DADD99;
    padding: 10px 10px 10px 10px;
}

header .right_pane .song_carousels .recommended .media_scroller::-webkit-scrollbar{
    height: 14px;
}

header .right_pane .song_carousels .recommended .media_scroller::-webkit-scrollbar-track{
    background: #DADDB1;
}

header .right_pane .song_carousels .recommended .media_scroller::-webkit-scrollbar-thumb{
    background-color: var(--surface-2);
    border-radius: 20px;
    border: 2px solid #DADDB1;
}

header .right_pane .song_carousels .recommended .media_scroller_creator::-webkit-scrollbar{
    height: 14px;
}

header .right_pane .song_carousels .recommended .media_scroller_creator::-webkit-scrollbar-track{
    background: #DADDB1;
}

header .right_pane .song_carousels .recommended .media_scroller_creator::-webkit-scrollbar-thumb{
    background-color: var(--surface-2);
    border-radius: 20px;
    border: 2px solid #DADDB1;
}

header .right_pane .song_carousels .recommended .media_scroller_creator{
    width: 100%;
    height: 250px;
    margin-top: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    gap: var(--size-3);
    overflow-x: auto;
    background: #DADD99;
    padding: 10px 10px 10px 10px;
}

header .right_pane .song_carousels .recommended .media_scroller .media-element{
    padding: var(--size-3);
    background: var(--surface-4);
    border-radius: var(--radius-2);
}

header .right_pane .song_carousels .recommended .media_scroller .media-element > img{
    inline-size: 100%;
    aspect-ratio: 14 / 9;
    object-fit: cover;
}

header .right_pane .song_carousels .recommended .media_scroller_creator .media-element-creator{
    padding: var(--size-3);
    background: var(--surface-4);
    border-radius: 100px;
    height: 200px;
    text-align: center;
}

header .right_pane .song_carousels .recommended .media_scroller_creator .media-element-creator > img{
    inline-size: 100%;
    aspect-ratio: 14 / 9;
    object-fit: cover;
    border-radius: 190px;
    width: 180px;
    height: 165px;
}

header .right_pane .song_carousels .recommended .media_scroller .media-element .icol{
    color: #121213;
}



header .music_play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .music_play .song_image{
    height: 70px;
    width: 70px;
    margin-left: 15px;
    border: 1px solid black;
    overflow: hidden;
}

header .music_play .song_image img{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


header .music_play .disp .bottom audio{
    margin-left: 30px;
    margin-top: 10px; 
    margin-bottom: 0px;
    width: 1150px; 
    height:30px
}

header .music_play .disp .top{
    margin-left: 40px;
    margin-bottom: 10px;
}

header .music_play .disp .bottom{
    margin-top: 10px;    
}


header .left_pane .playlists{
    width:auto;
    margin: 0px 30px 25px 30px;
    overflow-y:auto; 
    position:relative;
    height: 270px;
    background: #b3b499;
    /* border: 1px solid black; */
}

header .left_pane .playlists .playlistItem{
    margin-left: 10px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


header .left_pane .playlists li {
    list-style: none;
    padding: 0;
    list-style-image: url("/static/assets/music-note-list.svg");
    margin: 10px;
  }

  header .left_pane .playlists li a{
    text-decoration: none;
    color: #121213;
  }



header .left_pane .playlists::-webkit-scrollbar{
    height: 14px;
}

header .left_pane .playlists::-webkit-scrollbar-track{
    background: #B3A492;
    ;
}

header .left_pane .playlists::-webkit-scrollbar-thumb{
    background-color: var(--surface-2);
    border-radius: 20px;
    border: 5px solid #B3A492;
}

header .left_pane .add{
    padding-top: 87px;
    padding-left: 85px;
    /* border: 1px solid black; */
}

header .left_pane .icol{
    color: #121213;
}

header .left_pane .playlists li a{
    text-decoration: none;
    list-style: none;
    position: relative;
    font-size: 19px;
    color: black;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s linear;
}

header .left_pane .playlists li a:hover{
    color: #fff;
}


header .left_pane .lyrics{
    width: 317px;
    height: 200px;
    /* border: 1px solid black; */
    background: #b3b499;
    margin: 0px 30px 25px 30px;
    overflow-y:auto;
    overflow-x: auto;
    position:relative;
    font-size: large;
    white-space: pre-line;
    padding: 10px 0px 10px 10px;
}


header .left_pane .lyrics::-webkit-scrollbar{
    height: 14px;
}

header .left_pane .lyrics::-webkit-scrollbar-track{
    background: #B3A492;
    ;
}

header .left_pane .lyrics::-webkit-scrollbar-thumb{
    background-color: var(--surface-2);
    border-radius: 20px;
    border: 5px solid #B3A492;
}