{% extends "user/loginLayout.html" %}

{% block head %} 
<style>
    @media (min-width: 1025px) {
        .h-custom {
        height: 100vh !important;
            }
        }
</style>
{% endblock head %}

{% block content %}
<p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Welcome to Song Player</p>

{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}
<div class="alert alert-{{category}}">
    <strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <div class="row">
        <div class="card m-3">
            <div class="card-body bg-success">
                <h3>User Login</h3>
                <a href="/user/" class="nav-link text-white">login</a>
            </div>
        </div>
        <div class="card m-3">
            <div class="card-body bg-info">
                <h3>User Registration</h3>
                <a href="/user/signup" class="nav-link text-white">register</a>
            </div>
        </div>
        <div class="card m-3">
            <div class="card-body bg-danger">
                <h3>Admin Login</h3>
                <a href="/admin/" class="nav-link text-white">login</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}