{% extends "user/layout.html"%}

{% block rightpane %}
    <div class="song_carousels">
        <div class="recommended">
            <h3>{{ album_name }} - Album</h3>
            <div class="media_scroller text-white">
                {% for song in songs %}
                <div class="media-element">
                    {% if song.album %}
                        <img src="{{ url_for('get_album_cover', album_id=song.album.id) }}">
                    {% endif %}
                    <p class="title" style="margin-bottom: 0px;">{{ song.title }}</p>
                    <p style="font-size: 15px;">{{ song.album.user.name }}</p>
                    <a href="#" class="play-song" data-song-id="{{ song.id }}" data-song-name="{{ song.title }}" data-song-creator="{{ song.album.user.name }}">
                        <span class="fa-stack fa-sm">
                            <i class="fa fa-circle fa-stack-2x icol"></i>
                            <i class="fa fa-play fa-stack-1x" style="color: #fff;"></i>
                        </span>
                    </a>

                    <div class="dropdown" style="display: inline-block; margin-left: 90px;">
                        <a href="#" class="play-song" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa-stack fa-sm">
                                <i class="fa fa-ellipsis-h my-2" style="font-size:24px; color: white;"></i>
                            </span>
                        </a>
                    
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Lyrics</a>
                            <a class="dropdown-item" href="#">Rate</a>
                            <a class="dropdown-item" href="#">Option 3</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock rightpane %}



{% block leftpane %}

<div class="row">
    <div class="col-7">
        <h3 style="margin: 85px 0px 12px 30px;">My Playlists</h3>
    </div>
    <div class="col-3 add">
        <a href="/user/newPlaylist" class="add-button">
            <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x icol"></i>
                <i class="fa fa-plus fa-stack-1x" style="color: #fff; padding: 1px 1.5px 0px 0px;"></i>
            </span>
        </a>
    </div>
</div>

<div class="playlists">
    {% for playlist in playlists %}
        <li class="playlistItem"><a href="#">{{ playlist.title }}</a></li>
    {% endfor %}
</div>
{% endblock leftpane %}


{% block musicplay %}
<div class="song_image">
    <img id="songCoverDisplay" src="" alt="">
</div>
<div class="disp">
    <div class="top">
        <h5 id="songNameDisplay" style="margin: 0px 0px;">Play a Song</h5>
        <h6 id="creatorNameDisplay">Enjoy!</h6>
    </div>
    <div class="bottom">
        <audio controls="" autoplay name="media" id="audio-player">
            <source src="" type="audio/mpeg">
        </audio>
    </div>
</div>
{% endblock musicplay %}