{% extends "user/layout.html" %}

{% block rightpane %}
<div>
    <br>
    <h2 style="margin-left: 50px;">Create an Album!</h2>
    <br>
</div>
<form action="" method="POST" enctype="multipart/form-data">
    <div class="upload">
        <label>Enter Album title &nbsp;</label> <br>
        <input type="text" name="title" id="title"/>
    </div>

    <br>

    <div class="upload">
        <label>Upload Cover &nbsp;</label> <br>
        <input type="file" name="cover" id="cover"/>
    </div>

    <br>
    
    <button class="btn btn-success btn-sm mx-5 my-2">Submit</button>
</form>
{% endblock rightpane %}