{% extends "user/layout.html"%}

{% block rightpane %}
<div>
    <h2 class="mx-5 my-4">Be a Creator, Be a Contributor.</h2>
    <p class="mx-5 my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Mauris sagittis pharetra nulla, at rutrum risus posuere ullamcorper. 
        Curabitur viverra elit nec risus aliquam maximus. Nam lacus odio, rhoncus vitae vulputate ac, ultricies at diam. 
        Aenean id aliquam nisi, pulvinar molestie diam. Etiam ullamcorper urna id vulputate luctus. 
        Aliquam consequat turpis tristique risus rutrum, imperdiet varius mi malesuada. Quisque ullamcorper sodales diam vel egestas. 
        Vivamus varius non dolor in imperdiet. Duis pellentesque eu purus in volutpat. Donec ac dictum turpis, ut finibus nibh. Aenean et porttitor nunc.

        In ullamcorper aliquet gravida. 
        Nunc dapibus dui non augue auctor mollis. In egestas interdum nisl eu hendrerit. 
        Mauris vel tellus a elit commodo euismod et ut enim. Etiam ut purus eget lorem pellentesque auctor in eget tellus. 
        In sit amet sollicitudin nisl. Vivamus at neque a elit sagittis egestas vel vel tortor. 
        Cras auctor ligula urna, quis ullamcorper mauris blandit sed. Vivamus tempor elementum leo, feugiat feugiat elit rhoncus a.
        </p>
        <button class="btn btn-success btn-sm mx-5 my-2" onclick="registerAsCreator();">Register as Creator?</button>

        <script>
            function registerAsCreator() {
                // Assuming you have a route to handle this in Flask
                window.location.href = '/user/registerAsCreator';
            }
        </script>
</div>
{% endblock rightpane %}